* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/img/burbuja-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}